.MMM-darksky-hourly {
}

.MMM-darksky-hourly .dark{
	color: #777;
}

.MMM-darksky-hourly .darker{
	color: #444;
}

.MMM-darksky-hourly .big-icon {
  font-size: 75%;
  line-height: 65px;
  display: inline-block;
  -ms-transform: translate(0, -3px); /* IE 9 */
  -webkit-transform: translate(0, -3px); /* Safari */
  transform: translate(0, -3px);
}

.MMM-darksky-hourly .summary {
  width: 400px;
}

.MMM-darksky-hourly .forecast {
  text-align: right;
  min-width: 400px;
  margin-top: 1ex;
}

.MMM-darksky-hourly .forecast-row {
}

.MMM-darksky-hourly .forecast-row>span {
  display: table-cell;
  width: 1px;
}

.MMM-darksky-hourly .forecast-row .forecast-day {
  text-align: left;
  padding-right: 0.1em;
}

.MMM-darksky-hourly .forecast-row .forecast-hour {
  text-align: right;
  padding-right: 0.6em;
}

.MMM-darksky-hourly .forecast-row .weathericon {
  text-align: center;
  padding-right: 0.5em;
}

.MMM-darksky-hourly .forecast-bar {
  display: table;
  overflow: hidden;
}

.MMM-darksky-hourly .forecast-bar>span {
  display: table-cell;
  text-align: center;
}

.MMM-darksky-hourly .forecast-bar .bar {
  background-color: #aaa;
  line-height: 0.8em;
  border-radius: 1em;
  border: 0.5ex transparent solid;
  background-clip: padding-box;
  color: black;
}

.small.MMM-darksky-hourly .forecast {
  min-width: 200px;
  max-width: 300px;
}

.small.MMM-darksky-hourly .summary {
  width: 300px;
}

